/* Exchange Rate list */

.currency-table-container {
  background-color: #f0f0f0;
  color: #3b4745;
}

.currency-table {
  background-color: #b4d1cc;
  border-collapse: collapse;
  width: 100%;
}

.currency-table th {
  padding: 16px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}

.currency-table td {
  border-bottom: 1px solid #f0f0f0;
  padding: 16px;
  width: 50%;
}

.currency-table td > * {
  vertical-align: middle;
}

.currency-table-flag {
  border-radius: 50%;
  margin-right: 8px;
  width: 24px;
}

/* Converter */
#currency-converter-app {
  /* background-color: #f78640; */
  color: #3b4745;
}

.currency-converter-title,
.currency-table-title {
  font-weight: 500;
  font-size: 16px;
  margin-top: 0;
  color: #149090;
}
.currency-converter-selectboxes {
  display: flex;
  align-items: center;
}
.currency-converter-select-from,
.currency-converter-select-to {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #f78640;
  border: 1px solid #f78640;
  padding: 10px 20px 7px;
  text-align: center;
}

.currency-converter-select-from {
  flex: 2;
}

.currency-converter-select-to {
  flex: 2;
}

.currency-converter-select-arrow {
  flex: 1;
  text-align: center;
}

.currency-converter-amount-container {
  display: flex;
  flex-direction: column;
}

.currency-converter-amount,
.currency-converter-selectboxes,
.currency-submit-btn {
  margin-bottom: 16px;
}
.currency-converter-amount {
  flex: 1;
  padding: 10px 20px 7px;
  color: #149090;
}

.currency-submit-btn {
  flex: 1;
  align-self: center;
  border-radius: 0px;
  padding: 10px 20px 7px;
  border: none;
}

.currency-result {
  background-color: #e83d48;
  padding: 20px 10px;
  text-align: right;
  color: #fff;
}

.currency-converter-amount-currency {
  color: #1abdbd;
}
